* {
  margin: 0;
  padding: 0;
  font-family: Geneva, sans-serif;
}

.container {
  display: flex;
}

.content {
  margin-top: 0;
  padding-top: 108px;
  transition: .3s;
  margin-bottom: 805px;
}

#header {
  background-color: #bcdbe3; /* background */
  border-bottom: 2px solid #23001E;
  padding: 20px 0px; /* Some padding */
  text-align: center; /* Centered text */
  font-size: 50px; /* Big font size */
  font-weight: bold;
  position: fixed; /* Fixed position - sit on top of the page */
  top: 0;
  width: 100%; /* Full width */
  transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
}

#logo {
  padding: 0 10px;
  z-index: 999;
  position: fixed;
  width: 50px;
  float: right;
}

body.minilogo #logo img {
    width: 50px;
    padding: 0 10px;
    z-index: 999;
    transition: 0.2s;
}

.opener {
  height: 787px;
  width: 100%;
  background-color: white;
}

.opener img {
   border:2px solid black;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: 0 auto;
  color: black;
  text-align: center;
}

.termcard {
  height: 787px;
  width: 100%;
  background-image: url("digsite.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.memberhow {
  height: 500px;
  width: 100%;
  background-image: url("IMG_2292.JPG");
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
}

.memberhow a {
    padding: 10px;
    background: #87A0B2;
    color: white;
    display: flex;
    margin: 10px;
    border-radius: 10px;
    flex-direction: column;
    width: 100%;
    height: 20px;
    width: 150px;
  }

.memberhow a:hover {
    background: #FCB0B3;
    border: 1px solid #FCB0B3;
    color: white;
  }

  .committee {
    height: 787px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: white;
  }

  #committee-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-between;
  }

  #committee-members h4 {
    text-align: center;
    color: black;
  }

.committee h2 {
    padding: 20px;
  }

  #committee-members img {
    padding: 10px;
    background-color: #23001E;
    margin: 10px;
    border-radius: 50%;
    width: 250px;
  }

  #committee-members p {
    text-align: center;
    color: black;
    opacity: 0.7
  }

  #images {
    align-items: center;
  }

.stashheader {
  height: 60px;
  width: 100%;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.stashexplain {
  height: 727px;
  width: 50%;
  background-color: white;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  float: right;
}

.stashavailable {
  height: 727px;
  width: 50%;
  background-color: white;
  float: left;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

.stashavailable p {
  width: 50%;
}


.stashexplain p {
  width: 50%;
}

.divider {
  background-color: #23001E;
  height: 10px;
  width: 100%;
}

.membership {
  background-color: white;
  height: 787px;
  width: 100%;
  justify-content: center;
  text-align: center;
  background-image: url(feast.jpg);
  background-repeat: no-repeat;
  background-position: left;
}

.membership p {
  padding-top:300px;
  padding-left: 70%;
  width: 20%;
  color: black;
}

.footer {
  width: 100%;
  height: 805px;
  background-color: #000;
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer a,
.footer p {
  color: white;
}

.left {
  font-size: 11px;
}

.right {
  font-size: 20px;
}

.right img {
  width: 100px;
}

.contact {
  display: flex;
  flex-direction: column;
}
